{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load bb.css -->
    <link href="{% static 'node_modules/billboard.js/dist/billboard.css' %}" rel="stylesheet">

    <!-- Load d3.js and bb.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.js"></script>
    <script src="{% static 'node_modules/billboard.js/dist/billboard.js' %}"></script>
    <link href="{% static 'web/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<title>test</title>
</head>
<body>
    <div id="header">
        <h1>CanZeppelin Dashboard</h1>
        <div id="loop-control" style="display: none;">
            <button onclick="startLoop()">Start Loop</button>
            <button onclick="stopLoop()">Stop Loop</button>
            <p>Počet záznamov na zobrazenie: </p>
            <input type="number" id="records-amount-input" value="10" min="3" max="50">
        </div>
    </div>
    <div id="main">
        <div id="charts">
            <div id="other-panel"></div>
            <div id="solar-radiation-panel"></div>
        </div>
        <div id="map"></div>
    </div>

    <script src="{% static 'web/script.js' %}"></script>
    <script src="{% static 'web/leaflet_map.js' %}"></script>
        

</body>
</html>