{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load bb.css -->
    <link href="{% static 'node_modules/billboard.js/dist/billboard.css' %}" rel="stylesheet">

    <!-- Load d3.js and bb.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.js"></script>
    <script src="{% static 'node_modules/billboard.js/dist/billboard.js' %}"></script>
    <title>test</title>
</head>
<body>
    <div id="loop-control">
        <button onclick="startLoop()">Start Loop</button>
        <button onclick="stopLoop()">Stop Loop</button>
    </div>
    <div id="records-amount">
        <p>Počet záznamov na zobrazenie: </p>
        <input type="number" id="records-amount-input" value="10" min="3" max="50">
    </div>
    <div id="charts"></div>

    <script>
        let charts = [
            {id: 'temp_chart', label: 'Teplota'},
            {id: 'humidity_chart', label: 'Vlhkosť'},
            {id: 'pressure_chart', label: 'Tlak'},
        ];

        // Create charts
        charts.forEach(chart => {
            chart_h1 = document.createElement('h1')
            chart_h1.innerHTML = chart.label
            document.getElementById('charts').appendChild(chart_h1)

            chart_div = document.createElement('div')
            chart_div.id = chart.id
            document.getElementById('charts').appendChild(chart_div)

            chart.chart = bb.generate({
                bindto: `#${chart.id}`,
                data: {
                    xs: {
                        [chart.label]: 'x',
                    },
                    columns: [
                        ['x'],
                        [chart.label],
                    ],
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            rotate: -30,
                            format: '%H:%M:%S',
                            fit: false,
                            count: 5
                        }
                    }
                },
                legend: {
                    show: false
                },              
            });
        });

        const records_amount_input = document.getElementById('records-amount-input');
        records_amount_input.addEventListener('change', () => {
            if (!window.loop) {
                updateCharts();
            }
        });

        // Function to update all charts
        function updateCharts() {
            let records_amount = records_amount_input.value;
            if (records_amount < 3 || records_amount > 50) {
                return;
            }
            fetch(`/get_charts_data/${records_amount}/`)
            .then(response => response.json())
            .then(data => {
                data.charts_data.forEach((y_data, i) => {
                    let x_data = data.x_data.map(datetime => new Date(datetime));

                    charts[i].chart.load({
                        columns: [
                            ['x', ...x_data],
                            [charts[i].label, ...y_data],
                        ]
                    });
                });
            })
            .catch(error => console.error('Error:', error));
        }

        // Update the plot immediately when the page loads
        updateCharts();

        // Start updating the plot every second
        function startLoop() {
            window.loop = setInterval(updateCharts, 1000);
        }

        // Stop updating the plot
        function stopLoop() {
            clearInterval(window.loop);
        }

            
    </script>
        
    <style>
        h1 {
            text-align: center;
        }

        .bb-line {
            stroke: orange;
            stroke-width: 6px;
            
        }

        #records-amount-input:invalid {
            border: 3px solid red;
            
        }
    </style>

</body>
</html>